<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>找回密码</title>
<link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='css/css.css') }}" rel="stylesheet" type="text/css">
<script src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
<style>
.tab {
	overflow: hidden;
	margin-top: 20px; margin-bottom:-1px;
}
.tab li {
	display: block;
	float: left;
	width: 100px;padding:10px 20px; cursor:pointer; border:1px solid #ccc; 
}
.tab li.on {
	background: #90B831; color:#FFF;padding:10px 20px;
}
.conlist {padding:30px; border:1px solid #ccc; width:300px;}
.conbox {
	display: none;
}
</style>
<script>
$(function(){
	$(".tab li").each(function(i){
		$(this).click(function(){
		$(this).addClass("on").siblings().removeClass("on");
		$(".conlist .conbox").eq(i).show().siblings().hide();
		})
	})
    $("#send_sms_code").click(function() {
        // 校验手机号格式
        var phone = $("#phone").val();

        if (! /1\d{10}/.test(phone)) {
            alert("手机号格式错误！");
            $("#phone").focus();
            return;
        }

        // 通过Ajax将手机号发送给服务器后端程序
        $.ajax({
            url: "/send_sms_code",
            data: {
                phone: phone
            },
            success: function(data){
                if (data["err"] === 0) {
                    // 成功
                    var s = 60;
                    $("#send_sms_code").prop("disabled", true);
                    $("#send_sms_code").html(s + "S");
                    
                    var timer = window.setInterval(function() {
                        --s;
                        if (s === 0) {
                            window.clearInterval(timer);
                            $("#send_sms_code").html("重新发送");
                            $("#send_sms_code").prop("disabled", false);
                            return;
                        }
            
                        $("#send_sms_code").html(s + "S");
                    }, 1000);                    
                } else {
                    // 失败
                    alert("发送短信验证码失败，" + data["desc"]);
                }
            },
            error: function(){
                alert("发送请求失败，请检查网络连接！");
            }
        });
    });
})
</script>
</head>

<body class="l-bg">
<div class="login-top">
    <div class="wrapper">
        <div class="fl font30">LOGO</div>
        <div class="fr">您好，欢迎为生活充电在线！</div>
    </div>
</div>
<div class="l_main2">
    <div class="l_bttitle"> 
        <h2>找回密码</h2>
    </div>
    <div class="loginbox">
        
        <div class="conlist">
            <div class="conbox" style="display:block;">
                <form action="/repasswd" method="POST">
                    <p>
                        <div class="fl res-text">用户名：</div><div><input type="text" class="loginuser" id="uname" name="uname"></div>
                    </p>
                    <p>
                    <div class="fl res-text">新密码：</div><div><input type="password" class="loginuser" id="upass" name="upass"></div>
                    </p>
                    <p>
                    <div class="fl res-text">确认新密码：</div><div><input type="password" class="loginuser" id="upass2" name="upass2"></div>
                    </p>
                    <p>
                        <div class="fl res-text">账号手机号：</div><div><input type="text" class="loginuser" id="phone" name="phone"></div>
                    </p>
                    <p>
                    <div class="fl res-text">验证码：</div>
                    <div class="fl"><input type="text" class="loginuser2" id="verify_code" name="verify_code"></div>
                    <div class="fl same-code" id="send_sms_code">获取验证码</div>
                    
                    </p>
                    <p>
                        <input type="submit" class="loginbtn" value="确定">
                    </p>
                </form>
            </div>
        
        </div>
    </div>
</div>
</body>
</html>
